html, body, #app {
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  // color: var(--aside-menu-dark-color);
}

:root {
  // 背景颜色
  // header-menu bg-color
  --header-menu-bg-color: #fff;
  // aside-menu bg-color
  --aside-menu-bg-color: rgb(39, 51, 82);
  //el-main
  --main-bg-color:#E6E8EB;

  // 字体颜色
  --body-color-default: #fff;
  --header-menu-color: #000;
  --aside-menu-dark-color: #182443;
  --aside-menu-bright-color: #fff;
}

// 暗黑模式
// body.dark-theme {
//   --header-menu-bg-color: #001529;
// }

ul, ol {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

code, pre {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  color: #0f1115;
}
pre {
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}


