html, body, #app {
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--aside-menu-dark-color);
  // 背景颜色
  // header-menu bg-color
  --header-menu-bg-color: #00B0FF;
  // aside-menu bg-color
  --aside-menu-bg-color: #001529;

  // 字体颜色
  --body-color-default: #fff;
  --aside-menu-dark-color: #000;
  --aside-menu-bright-color: #fff;
}

ul, ol {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
