html, body, #app {
  height: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--aside-menu-dark-color);
}

:root {
  // 背景颜色
  // header-menu bg-color
  --header-menu-bg-color: #00B0FF;
  // aside-menu bg-color
  --aside-menu-bg-color: #001529;
  //el-main
  --main-bg-color:#fff;

  // 字体颜色
  --body-color-default: #fff;
  --aside-menu-dark-color: rgba(0, 0, 0, 0.45);
  --aside-menu-bright-color: #fff;
}

// 暗黑模式
// body.dark-theme {
//   --header-menu-bg-color: #001529;
// }

ul, ol {
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
